* {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
   
  background-color: rgb(230, 227, 227);
    
}

.container {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.title {
    margin-top: 200px;
    display: flex;
    gap: 20px;
}

#line {
    width: 7px;
    height: 320px;
    background-color: black;
    border-radius: 20px;
}

h1 {
    font-size: 85px;
}

.calc {
    background-color: white;
    width: 320px;
    height: 370px;
    margin-top: 200px;
    padding: 20px;
    border-radius: 10px;
}

table {
    margin-top: 30px;
    border-collapse: collapse;
}

td input {
    padding: 10px;
    border: none;
    text-align: center;
    width: 60px;
    height: 43px;
    margin: 5px; 
    background-color: rgb(252, 250, 250);
    border-radius: 10px;
    font-size: 20px;
}
input:hover{
    background-color:#9bd4ef ;
    transition: 0.3s ease-in;
    color: white;
}

.blue {
    color: rgb(30, 112, 150);
    font-weight: 500;
    
}
.result{
    width: 290px;
    height: 45px;
    background-color: rgb(248, 249, 249);
    border: none;
    border-radius: 10px;
    font-family: 'Digital-7 Mono';
    font-size: 30px;
}
@font-face {
    font-family: 'Digital-7 Mono';
    src: url('./ressource/digital-7.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Media queries for responsiveness */
@media screen and (max-width: 600px) {
    .container{
        flex-direction: column;
    }
    .title {
        margin-top: 3px;  
    }
    #line{
        display: none;
    }
    
    h1 {
        font-size: 30px;
    }

    .calc {
        padding: 10px;
    }

    td input {
        font-size: 16px;
    }

    .result {
        height: 35px;
        font-size: 24px;
    }
}

